//////////////////////Application Page///////////////////
body {
  background: url('/assets/images/blade-of-grass-landscape-lens-flare-479.jpg') no-repeat center center fixed;
  background-size: cover;
  text-shadow: 2px 2px black;
  font-family: 'Open Sans', sans-serif;
}

.title {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 100px;
}

.content {
  height: 430px;
  width: 800px;
  margin: 0 auto;
}

social-ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.social-li {
  display: inline-block;
  margin: 0 auto;
  width: 150px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.social-li img {
  width: 60px;
  height: auto;
}

.footer {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  color: white;
  font-size: 30px;
  position: fixed;
  bottom: 10px;
}

.footer span, p {
  display: block;
}

.footer p {
  font-size: 20px;
}

.footer li {
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
}

.social-icon img {
  width: 50px;
  height: auto;
}

.logged-in {
  display: inline-block;
}

.logged-in a {
  color: white;
  padding-left: 7px;
  font-size: 16px;
}

.prof-button {
  color: white;
  display: inline-block;
  padding-left: 7px;
  font-size: 16px;
}

.prof-button a {
  text-decoration: none;
}

/* .footer {
  background-color: #07252F;
  width: 500px;
  margin: 0 auto;
  position: fixed;
  height: 80px;
  bottom: 0;
  text-align: center;
} */

////////////////Registration Page////////////////
.reg-form {
  margin: 0 auto;
  box-shadow: 3px 3px 3px #080808;
  width: 400px;
  margin-top: 18px;
}

.reg-form input {
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  text-align: center;
}

.reg-button {
  margin: 0 auto;
  width: 400px;
}

.reg-button button {
  width: 100%;
}

.user-type {
  width: 400px;
  height: 40px;
  font-size: 25px;
}



////////////////Landing Page////////////////
.landing-elevator {
  /*font-family: 'Libre Baskerville', serif;*/
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.land-buttons a {
  text-decoration: none;
  color: white;
  border: 2px;
  font-weight: 150;
}

.login-button {
  display: inline-block;
  border-radius: 5px;
  font-size: 21px;
  font-weight: lighter;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  text-shadow: none;
  border: solid 1px;
  margin-top: 2px;
  margin-bottom: 10px;
  background: black;
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
  zoom: 1;
}

.register-button {
  display:inline-block;
  border-radius: 5px;
  font-size: 21px;
  font-weight: lighter;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  text-shadow: none;
  border: solid 1px;
  margin-top: 2px;
  margin-bottom: 10px;
  background: white;
  background: rgba(255, 255, 255, 0.6);
  color:#000;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
  zoom: 1;
}

.login-button:hover,
.register-button:hover {
  background: rgba(255, 255, 255, .8);
}



////////////////Login Page////////////////
.login-form {
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 2px 2px 2px #080808;
  width: 200px;
}

.login-form button,
input {
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 10px;
  width: 200px;
  height: 50px;
}



////////////////Options Page////////////////
.options-form {
  margin: 0 auto;
  margin-top: 23px;
  box-shadow: 2px 2px 2px #080808;
  width: 600px;
}

.options-form input,
button {
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 10px;
  width: 600px;
  height: 50px;
}

.dropdown {
  background-color: white;
  text-shadow: none;
}

.carat {
  width: 600px;
}


////////////////Completed Page////////////////
.completed {
  margin: 0 auto;
  padding-top: 23px;
  width: 500px;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
  font-size: 50px;

}



////////////////Profile Page////////////////
.profile-info {
  margin: 0 auto;
  box-shadow: 3px 3px 3px #080808;
  background-color: white;
  padding-left: 0;
  padding-bottom: 10px;
  width: 500px;
  text-shadow: none;
/*   font-size: 30px;
 */
 font-size: 16px;
}

.profile-info li {
  list-style-type: none;
}

.profile-headline {
  text-align: center;
  text-shadow: none;
  margin: 0 auto;
  padding-top: none;
}

.profile-headline h2 {
  margin: 0;
  font-size: 33px;
}

.prof-edit-button {
  color: white;
  margin: 0 auto;
  padding-bottom: none;
  width: 500px;
  text-align: right;
  font-size: 22px;
}



////////////////Loading Page////////////////
.loading-words {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 36px;
  margin: 0 auto;
  width: 800px;
}

.loader{
  margin: 0 auto;
  padding: 1em;
  width: 20%;
  height: 500px;
  vertical-align: top;
  text-align: center;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #65914A;
}


////////////////contractor Page////////////////

.contractor-headline {
  text-align: center;
  text-shadow: none;
  margin: 0 auto;
  padding-top: none;
}

.contractor-headline h2 {
  font-size: 33px;
}

.contractor-names {
  font-size: 16px;
}

.contractor-requests ul {
  padding-left: 0;
}

.contractor-requests {
  padding:15px;
}

.single-request {
  font-size: 16px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 5px;
  padding-top: 5px;
}

.single-request-title {
  width: 200px;
  text-align: right;
  display: inline-block;
  padding-right: 10px;
}
