
//////////Application.hbs Page//////////


body {
  background: url("/assets/images/sheep.jpeg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
/*   filter:blur(20px);*/
  text-shadow: 2px 2px black;
 }

.title {
  margin: 0 auto;
  width: 500px;
/*   font-family: 'Libre Baskerville', serif;*/
  text-align: center;
  color: #fff;
  font-size: 100px;
}

.content {
  height: 430px;
  width: 800px;
  margin: 0 auto;
}

social-ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.social-li {
  display: inline-block;
  margin: 0 auto;
  width: 150px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.social-li img {
  width: 60px;
  height: auto;
}

.footer-container {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

.social-icon img {
  width: 50px;
  height: auto;
}

.logged-in a{
  color: white;
}
//////////Registration Page//////////

.reg-form {
  margin: 0 auto;
  width: 400px;
}

.reg-form input {
  width: 100%;
  height: 50px;
  text-align: center;
}

.reg-button {
  margin: 0 auto;
  width: 400px;
}

.reg-button button {
  width: 100%;
}

.user-type {
  width: 400px;
  height: 40px;
  font-size: 25px;
}

//////////Landing Page//////////

.landing-elevator {
  /*font-family: 'Libre Baskerville', serif;*/
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.land-buttons a{
  text-decoration: none;
  color: white;
  border: 2px;

}


//////////Login Page//////////

.login-form {
  width: 200px;
  margin: 0 auto;
}

.login-form button, input {
  width: 200px;
  height: 50px;
}


//////////Options Page//////////

.options-form {
  width: 600px;
  margin: 0 auto;
}

.options-form input, button {
  width: 600px;
  height: 50px;
}

//////////Completed Page//////////
.completed {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: white;
  font-size: 50px;
}
