<div class="logged-in">
{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout |</a>
{{else}}
  <a {{ action 'authenticateSession' }}>Login |</a>
{{/if}}
</div>
{{#link-to 'profile'}}<div class="prof-button">Profile</div>{{/link-to}}
<div class="header">
  <h1 class="title">Grass</h1>
</div>

<div class="big-white-box">

</div>

{{outlet}}
