{{outlet}}

<div class="landing-elevator">
<p>Grass connects you with with a lawncare professional in minutes</p>

<span class='land-buttons'>{{#link-to 'login'}}Login{{/link-to}}</span>
{{#link-to 'register'}}Register{{/link-to}}
<!-- <div class="land-buttons">
  <button>Login</button>
  <button>Register</button>
</div> -->

</div>
