{{outlet}}
<div class="color-block">
<div class="landing-elevator">
<p>Grass connects you with with a lawncare professional in minutes</p>

<span class='land-buttons'>{{#link-to 'login'}}<div class=login-button>Login</div>{{/link-to}}
{{#link-to 'register'}}<div class="register-button">Register</div>{{/link-to}}</span>
<!-- <div class="land-buttons">
  <button>Login</button>
  <button>Register</button>
</div> -->
</div>
</div>
