 {{outlet}}

<form {{action 'authenticate' on="submit"}}>
  <fieldset>

    <div class="login-form">
      <input type="text" name="email" placeholder="Email Address" value=""required>
      <input type="password" name="pass" value="" placeholder="Choose Password" required>
      <button>Login</button>
    </div>

  </fieldset>
</form>
