 {{outlet}}

<form {{action 'authenticate' on="submit"}}>
  <fieldset>

    <div class="login-form">
      <!-- <input type="text" name="email" placeholder="Email Address" value=""required> -->
      {{input value=identification placeholder='Enter Email' type='email' }}

      <!-- <input type="password" name="pass" value="" placeholder="Choose Password" required> -->
      {{input value=password placeholder='Enter Password' type='password' }}

      <button type="submit">Login</button>
    </div>

  </fieldset>
</form>
