{{outlet}}

<div class="options-form">
<input type="text" name="Acreage" value="" placeholder="How many acres do you have?" required>

<input type="text" name="Shrubbery" value="" placeholder="Do you have shrubs that need trimming?" required>

<input type="text" name="Leaves" value="" placeholder="Do you have leaves or other brush that requires hauling off?" required>

<button>Submit</button>
</div>
